REACT_APP_CLIENT_URL=http://localhost:3000
REACT_APP_API_URL=http://localhost:3001
REACT_APP_WS_URL=http://localhost:3002

# Token refresh settings
REACT_APP_REFRESH_THRESHOLD_MS=360000    # 6 min (ms)
REACT_APP_PROACTIVE_REFRESH_INTERVAL_MS=120000  # 2 min (ms)

# QuickBite SSO Identity Server Configuration
REACT_APP_IDENTITY_SERVICE_URL=https://example.com
REACT_APP_OIDC_CLIENT_ID=example
REACT_APP_OIDC_SCOPE=example_scope
REACT_APP_GOOGLE_CLIENT_ID=example