REACT_APP_CLIENT_URL=http://localhost:3000
REACT_APP_API_URL=http://localhost:3001
REACT_APP_WS_URL=http://localhost:3002

# Token refresh settings
REACT_APP_REFRESH_THRESHOLD_MS=360000    # 6 min (ms)
REACT_APP_PROACTIVE_REFRESH_INTERVAL_MS=120000  # 2 min (ms)